# Target:	DE Candidate
<br><br>Test Concept:	You are asked to pull data from the job recruitment platform, which is linkedin using a scraping method and store the requested data feature to our data warehouse.
<br><br>In this case, we want to know about all information about hiring opportunities related to data field position, Use this keyword search tag:
-	Senior Data Engineer / Data Engineer
-	Senior Data Scientist / Data Scientist
-	Senior Data Analyst / Data Analyst
-	Senior Business Intelligence / Business Intelligence Analyst
<br><br>So, here is a detail of data feature that we want:
1.	Company Name
2.	Job Posting Time (23 hours ago, 1 minute ago, etc)
3.	Number of applicants
4.	Seniority level  (Entry level/Associate/Mid-senior level)
5.	Size of employee
6.	Company industry
7.	Detail description (job desc, job req, benefit, etc)
8.	Employment type
9.	Job Function

<br><br>Store all information into your own Data Warehouse for “Detail Description” you can store into Google Cloud Storage. You also need to visualize/present the result (aggregation, dashboard, etc) that gives meaningful insights
<br><br>Key objectives:	
-	9 features in each job opportunities
<br><br>Tools needed:	
-	Github (Documentation + File Management)
<br><br>Effort (time/duration):	
-	Until 9 April, faster, better.
<br><br>Output:	
-	Github Repository

<br><br>Notes:
-	Make sure that your script runs well before submission, we will try it!
-	Make a proper documentation, especially for flow of scraping.
-	Send Output to academi@blank-space.io cc: jedi@blank-space.io, rahadian@blank-space.io, rahul@blank-space.io

# Author note
Adopted from https://amandeepsaluja.com/extracting-job-information-from-linkedin-jobs-using-beautifulsoup-and-selenium/
<br><br>Limitation:
- Only available while LinkedIn is not logged in
- Didn't include "Company Size" as it's only available when logging in
- Indonesia only location
- "Show more" in description is ignored

In [1]:
# Install when required
# !pip install selenium
# !pip install webdriver_manager

In [2]:
# importing packages
import pandas as pd
import re

from bs4 import BeautifulSoup
from requests import get
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from time import sleep
# from time import time
from webdriver_manager.chrome import ChromeDriverManager
import urllib.parse

In [30]:
# replace variables here.
# using quote to make sure it's exactly as it is
# test for "data engineer" first
keyword = "Data Engineer"
url = "https://www.linkedin.com/jobs/search?keywords=%22"+ urllib.parse.quote(keyword, safe='') +"%22&location=indonesia"

In [31]:
# this will open up new window with the url provided above 
# driver = webdriver.Chrome()
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
sleep(3)
action = ActionChains(driver)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\rnauv\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [32]:
# scroll down for all available jobs
no_of_jobs = int(driver.find_element_by_xpath('/html/body/main/div/section[2]/div/h1/span').text)
linkedin_job_per_page = 20
for i in range(0, round(no_of_jobs/linkedin_job_per_page)):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    sleep(3)

In [33]:
# parsing the visible webpage
pageSource = driver.page_source
lxml_soup = BeautifulSoup(pageSource, 'lxml')

# searching for all job containers
job_container = lxml_soup.find('ul', class_ = 'jobs-search__results-list')

print('You are scraping information about {} jobs.'.format(len(job_container)))
# somehow not getting all..

You are scraping information about 141 jobs.

In [34]:
# setting up list for job information
# Company Name
company_name = []

# Job Posting Time (23 hours ago, 1 minute ago, etc)
post_date = []

In [35]:
# for loop for job title, company, id, location and date posted
for job in job_container:

    # company name
    company_names = job.select_one('img')['alt']
    # remove "Graphic"
    company_names = company_names[:-8]
    # Append to list
    company_name.append(company_names)
    
    # Keep this code part if maybe location is needed
    # # job location
    # job_locations = job.find("span", class_="job-result-card__location").text
    # job_location.append(job_locations)
    
    # posting date
    post_dates = job.select_one('time').text
    post_date.append(post_dates)
    
# Check how many rows do we got
print("Company Name:", len(company_name), "rows")
print("Job Posting Time:", len(post_date), "rows")

Company Name: 141 rows
Job Posting Time: 141 rows

In [36]:
# Number of applicants
applicants = []

# Seniority level (Entry level/Associate/Mid-senior level)
level = []

# Size of employee
# NA
# Have to be logged in

# Company industry
industries = []

# Detail description (job desc, job req, benefit, etc)
job_desc = []

# Employment type
emp_type = []

# Job Function
functions = []

In [37]:
# for loop for job description and criterias
print("Start processing detail..")
for x in range(1,len(company_name)+1):
# for x in range(23,24):
    
    # clicking on different job containers to view information about the job
    job_xpath = '/html/body/main/div/section/ul/li[{}]/img'.format(x)
    driver.find_element_by_xpath(job_xpath).click()
    sleep(1)
    
    # job description
    jobdesc_xpath = '/html/body/main/section/div[2]/section[2]/div'
    job_descs = driver.find_element_by_xpath(jobdesc_xpath).text
    # re-get when there exist "compensation"
    if "Base pay range" in job_descs:
        jobdesc_xpath = '/html/body/main/section/div[2]/section[3]/div'
        job_descs = driver.find_element_by_xpath(jobdesc_xpath).text
    job_desc.append(job_descs)
    
    # Seniority level
    # try-except when there exist "compensation"
    seniority_xpath = '/html/body/main/section/div[2]/section[2]/ul/li[1]'
    try:
        seniority = driver.find_element_by_xpath(seniority_xpath).text.splitlines(0)[1]
    except:
        seniority_xpath = '/html/body/main/section/div[2]/section[3]/ul/li[1]'
        seniority = driver.find_element_by_xpath(seniority_xpath).text.splitlines(0)[1]
    level.append(seniority)
    
    # Employment type
    # try-except when there exist "compensation"
    type_xpath = '/html/body/main/section/div[2]/section[2]/ul/li[2]'
    try:
        employment_type = driver.find_element_by_xpath(type_xpath).text.splitlines(0)[1]
    except:
        type_xpath = '/html/body/main/section/div[2]/section[3]/ul/li[2]'
        employment_type = driver.find_element_by_xpath(type_xpath).text.splitlines(0)[1]
    
    emp_type.append(employment_type)
    
    # Job function
    # try-except when there exist "compensation"
    job_function = ''
    function_xpath = '/html/body/main/section/div[2]/section[2]/ul/li[3]/span'
    if len(driver.find_elements_by_xpath(function_xpath)) != 0:
        for function_elem in driver.find_elements_by_xpath(function_xpath):
            job_function = job_function + ',' + function_elem.text
    else:
        function_xpath = '/html/body/main/section/div[2]/section[3]/ul/li[3]/span'
        for function_elem in driver.find_elements_by_xpath(function_xpath):
            job_function = job_function + ',' + function_elem.text
    
    # remove comma in the front
    job_function = job_function[1:]
    functions.append(job_function)
    
    # Industries
    # try-except when there exist "compensation"
    industry_type = ''
    industry_xpath = '/html/body/main/section/div[2]/section[2]/ul/li[4]/span'
        
    if len(driver.find_elements_by_xpath(industry_xpath)) != 0:
        for industry_elem in driver.find_elements_by_xpath(industry_xpath):
            industry_type = industry_type + ',' + industry_elem.text
        # remove comma in the front
        industry_type = industry_type[1:]
    else:
        industry_xpath = '/html/body/main/section/div[2]/section[3]/ul/li[4]/span'
        if len(driver.find_elements_by_xpath(industry_xpath)) != 0:
            for industry_elem in driver.find_elements_by_xpath(industry_xpath):
                industry_type = industry_type + ',' + industry_elem.text
            # remove comma in the front
            industry_type = industry_type[1:]
        else:
            # if somehow they don't give the industry type
            industry_type = 'NA'
    industries.append(industry_type)
    
    # applicants
    # try-except when "be early 25 applicants"
    applicant_xpath = '/html/body/main/section/div[2]/section/div/div/h3[2]/span[2]'  
    try:
        applicant = driver.find_element_by_xpath(applicant_xpath).text
    except:
        applicant_xpath = '/html/body/main/section/div[2]/section/div/div/h3[2]/figure'
        applicant = driver.find_element_by_xpath(applicant_xpath).text
    
    applicants.append(applicant)
    if x % 10 == 0:
        print(str(x) + "/" + str(len(company_name)) + " data processed")
    x = x+1

# to check if we have all information
print("Applicants:", len(applicants), "rows")
print("Job Description:", len(job_desc), "rows")
print("Level:", len(level), "rows")
print("Employee Type:", len(emp_type), "rows")
print("Functions:", len(functions), "rows")
print("Industries:", len(industries), "rows")

print("Finished")

Start processing detail..
10/141 data processed
20/141 data processed
30/141 data processed
40/141 data processed
50/141 data processed
60/141 data processed
70/141 data processed
80/141 data processed
90/141 data processed
100/141 data processed
110/141 data processed
120/141 data processed
130/141 data processed
140/141 data processed
Applicants: 141 rows
Job Description: 141 rows
Level: 141 rows
Employee Type: 141 rows
Functions: 141 rows
Industries: 141 rows
Finished

In [38]:
# creating a dataframe
job_data = pd.DataFrame({
    'Company Name': company_name,
    'Job Posting Time': post_date,
    'Number of Applicants': applicants,
    'Seniority Level': level,
    # 'Size of Employee': 'NA',
    'Company Industry': industries,
    'Detail description': job_desc,
    'Employment Type': emp_type,
    'Job Function': functions
})

# cleaning description column
job_data['Detail description'] = job_data['Detail description'].str.replace('\n',' ')

print(job_data.info())
job_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 8 columns):
Company Name            141 non-null object
Job Posting Time        141 non-null object
Number of Applicants    141 non-null object
Seniority Level         141 non-null object
Company Industry        141 non-null object
Detail description      141 non-null object
Employment Type         141 non-null object
Job Function            141 non-null object
dtypes: object(8)
memory usage: 8.9+ KB
None

,Company Name,Job Posting Time,Number of Applicants,Seniority Level,Company Industry,Detail description,Employment Type,Job Function
0,kumparan.com,2 days ago,Be among the first 25 applicants,Entry level,"Marketing and Advertising,Online Media,Internet",We are looking for a Data Engineer to join our...,Full-time,Information Technology
1,PT. SURYA MADISTRINDO,13 hours ago,117 applicants,Entry level,Tobacco,At PT Surya Madistrindo (Subsidiary of PT Guda...,Full-time,Information Technology
2,Tata Consultancy Services,1 week ago,54 applicants,Mid-Senior level,Information Technology and Services,Direct message the job poster from Tata Consul...,Full-time,Information Technology
3,Danone,3 days ago,110 applicants,Not Applicable,"Consumer Goods,Food & Beverages,Food Production",About The Job Data engineers are responsible ...,Full-time,Information Technology
4,CIMB Niaga,1 week ago,124 applicants,Mid-Senior level,Banking,Job Description: Perform application system d...,Full-time,Information Technology

# Observing

In [12]:
job_data['Company Name'].value_counts()

DKATALIS (Digital Katalis)           2
PT Bank Net Indonesia Syariah Tbk    2
Snaphunt                             2
Mekari (PT. Mid Solusi Nusantara)    2
Tjetak                               2
Flip                                 2
Shipper                              2
Sayurbox                             2
Ajaib                                2
Pt SehatQ Harsana Emedika            1
Jamtangan.com                        1
PT SehatQ Harsana Emedika            1
99.co                                1
Brainworx Solusi Integrasi           1
Flip.id                              1
Blue Bird Group                      1
Machtwatch                           1
Lemonilo                             1
SehatQ                               1
PT Bank Jago Tbk                     1
Blibli.com                           1
Name: Company Name, dtype: int64

In [13]:
job_data['Job Posting Time'].value_counts()

2 weeks ago     7
1 week ago      6
4 weeks ago     5
1 month ago     4
3 weeks ago     3
2 months ago    2
20 hours ago    1
15 hours ago    1
3 days ago      1
Name: Job Posting Time, dtype: int64

In [14]:
job_data['Number of Applicants'].value_counts()

Be among the first 25 applicants    27
29 applicants                        1
96 applicants                        1
39 applicants                        1
Name: Number of Applicants, dtype: int64

In [15]:
job_data['Seniority Level'].value_counts()

Associate           20
Mid-Senior level     6
Entry level          2
Director             2
Name: Seniority Level, dtype: int64

In [16]:
job_data['Company Industry'].value_counts()

Information Technology and Services,Computer Software,Internet                       7
Information Technology and Services                                                  4
Computer Software,Internet,Financial Services                                        3
Retail                                                                               2
Health, Wellness and Fitness                                                         1
Transportation/Trucking/Railroad                                                     1
Information Technology and Services,Computer Software,Retail                         1
Marketing and Advertising,Internet,Consumer Goods                                    1
Internet                                                                             1
NA                                                                                   1
Information Technology and Services,Banking,Financial Services                       1
Construction                                                                         1
Financial Services                                                                   1
Financial Services,Banking,Information Technology and Services                       1
Marketing and Advertising,Market Research,Internet                                   1
Information Technology and Services,Computer Software,Computer & Network Security    1
Real Estate                                                                          1
Pharmaceuticals,Medical Practice                                                     1
Name: Company Industry, dtype: int64

In [17]:
job_data.isna().sum()

Company Name            0
Job Posting Time        0
Number of Applicants    0
Seniority Level         0
Company Industry        0
Detail description      0
Employment Type         0
Job Function            0
dtype: int64

In [18]:
job_data['Employment Type'].value_counts()

Full-time    30
Name: Employment Type, dtype: int64

In [19]:
job_data['Job Function'].value_counts()

Information Technology                              26
Engineering                                          2
Information Technology,Analyst,Strategy/Planning     1
Other                                                1
Name: Job Function, dtype: int64

In [20]:
job_data[job_data['Job Function'] == '']

Empty DataFrame
Columns: [Company Name, Job Posting Time, Number of Applicants, Seniority Level, Company Industry, Detail description, Employment Type, Job Function]
Index: []

# Clean Up

In [21]:
import numpy as np

In [22]:
# Clean up
# Append Size of Employee just to comply with the required columns
job_data['Size of Employee'] = np.NaN

In [23]:
job_data.replace('NA', np.NaN, inplace=True)

In [24]:
job_data.isna().sum()

Company Name             0
Job Posting Time         0
Number of Applicants     0
Seniority Level          0
Company Industry         1
Detail description       0
Employment Type          0
Job Function             0
Size of Employee        30
dtype: int64

In [25]:
def clean_number_of_applicants(string):
    string_split = string.split()
    clean_number = ''
    if len(string_split) == 6:
        clean_number = '<' + str(string_split[4])
    elif len(string_split) == 3:
        clean_number = '>' + str(string_split[1])
    elif len(string_split) == 2:
        clean_number = str(string_split[0])
    else: clean_number = np.NaN
    return clean_number

In [26]:
job_data['Number of Applicants'] = job_data['Number of Applicants'].apply(clean_number_of_applicants)
job_data['Number of Applicants'].value_counts()

<25    27
29      1
39      1
96      1
Name: Number of Applicants, dtype: int64

In [27]:
job_data['Keyword'] = keyword

In [52]:
job_data.head()

,Company Name,Job Posting Time,Number of Applicants,Seniority Level,Company Industry,Detail description,Employment Type,Job Function
0,kumparan.com,2 days ago,Be among the first 25 applicants,Entry level,"Marketing and Advertising,Online Media,Internet",We are looking for a Data Engineer to join our...,Full-time,Information Technology
1,PT. SURYA MADISTRINDO,13 hours ago,117 applicants,Entry level,Tobacco,At PT Surya Madistrindo (Subsidiary of PT Guda...,Full-time,Information Technology
2,Tata Consultancy Services,1 week ago,54 applicants,Mid-Senior level,Information Technology and Services,Direct message the job poster from Tata Consul...,Full-time,Information Technology
3,Danone,3 days ago,110 applicants,Not Applicable,"Consumer Goods,Food & Beverages,Food Production",About The Job Data engineers are responsible ...,Full-time,Information Technology
4,CIMB Niaga,1 week ago,124 applicants,Mid-Senior level,Banking,Job Description: Perform application system d...,Full-time,Information Technology

In [29]:
job_data.to_csv('LinkedIn Job Data_' + keyword + '.csv', index=0)

In [41]:
job_data.columns

Index(['Company Name', 'Job Posting Time', 'Number of Applicants',
       'Seniority Level', 'Company Industry', 'Detail description',
       'Employment Type', 'Job Function'],
      dtype='object')

In [50]:
pd.concat([all_data,job_data])

,Company Name,Job Posting Time,Number of Applicants,Seniority Level,Company Industry,Detail description,Employment Type,Job Function
0,kumparan.com,2 days ago,Be among the first 25 applicants,Entry level,"Marketing and Advertising,Online Media,Internet",We are looking for a Data Engineer to join our...,Full-time,Information Technology
1,PT. SURYA MADISTRINDO,13 hours ago,117 applicants,Entry level,Tobacco,At PT Surya Madistrindo (Subsidiary of PT Guda...,Full-time,Information Technology
2,Tata Consultancy Services,1 week ago,54 applicants,Mid-Senior level,Information Technology and Services,Direct message the job poster from Tata Consul...,Full-time,Information Technology
3,Danone,3 days ago,110 applicants,Not Applicable,"Consumer Goods,Food & Beverages,Food Production",About The Job Data engineers are responsible ...,Full-time,Information Technology
4,CIMB Niaga,1 week ago,124 applicants,Mid-Senior level,Banking,Job Description: Perform application system d...,Full-time,Information Technology
5,ACT Foundation | Aksi Cepat Tanggap,1 week ago,Be among the first 25 applicants,Entry level,Philanthropy,Direct message the job poster from ACT Foundat...,Full-time,Information Technology
6,Flash Coffee,2 days ago,Be among the first 25 applicants,Entry level,Food & Beverages,Do you love coffee & tech put together? Then y...,Full-time,Information Technology
7,Xiaomi Indonesia,3 weeks ago,Over 200 applicants,Mid-Senior level,Internet,Direct message the job poster from Xiaomi Indo...,Contract,"Analyst,Engineering"
8,PT Bank Jago Tbk,1 week ago,Be among the first 25 applicants,Entry level,Financial Services,We are seeking a hands-on senior data engineer...,Full-time,Information Technology
9,Accenture Southeast Asia,1 day ago,26 applicants,Mid-Senior level,"Information Technology and Services,Computer S...",Accenture is a leading global professional ser...,Full-time,"Design,Information Technology"
10,ZebraX,3 weeks ago,80 applicants,Mid-Senior level,"Information Technology and Services,Computer S...",Direct message the job poster from ZebraX Char...,Full-time,Information Technology
11,PT Kamoro Maxima Integra,2 months ago,68 applicants,Entry level,Information Technology and Services,Company Description: We are an IT consulting c...,Full-time,Information Technology
12,entomo,2 weeks ago,Be among the first 25 applicants,Entry level,"Marketing and Advertising,Information Technolo...",Mapping developments according to the ETL spec...,Full-time,Information Technology
13,Moka,2 months ago,130 applicants,Entry level,"Information Technology and Services,Computer S...",We are one of the fastest-growing technology s...,Full-time,Information Technology
14,Bibit.id,3 weeks ago,156 applicants,Mid-Senior level,Financial Services,Direct message the job poster from Bibit.id Fe...,Full-time,Information Technology
15,DKATALIS (Digital Katalis),1 week ago,Be among the first 25 applicants,Entry level,Information Technology and Services,We are seeking a hands-on senior data engineer...,Full-time,Information Technology
16,ITB Career Center,1 month ago,57 applicants,Entry level,"Information Technology and Services,Computer S...",Responsibility Responsibilities Analyze and i...,Full-time,Information Technology
17,Cobblestone Energy,1 week ago,Be among the first 25 applicants,Entry level,Oil & Energy,About Cobblestone Cobblestone Energy is an in...,Full-time,Information Technology
18,Xendit,1 week ago,Be among the first 25 applicants,Entry level,"Computer Software,Internet,Financial Services",Xendit provides payment infrastructure across ...,Full-time,Information Technology
19,Michael Page,2 months ago,40 applicants,Entry level,"Telecommunications,Biotechnology,Information T...",Data Engineer Work in a fast-growing startup B...,Full-time,Information Technology
20,Traveloka,1 week ago,Be among the first 25 applicants,Entry level,Internet,Traveloka is a Southeast Asian tech unicorn fo...,Full-time,Information Technology
21,Flip.id,3 days ago,29 applicants,Mid-Senior level,"Financial Services,Banking,Information Technol...",Direct message the job poster from Flip.id Wul...,Full-time,Engineering
22,Ritase.com,3 weeks ago,Be among the first 25 applicants,Entry level,"Information Technology and Services,Computer S...",Job Description & requirements As a Data Engi...,Full-time,Information Technology
23,Blibli.com,4 weeks ago,96 applicants,Mid-Senior level,Retail,"As Data Engineer in blibli, you need to build ...",Full-time,"Information Technology,Analyst,Strategy/Planning"
24,Blue Bird Group,1 week ago,Be among the first 25 applicants,Associate,Transportation/Trucking/Railroad,Direct message the job poster from Blue Bird G...,Full-time,Information Technology
25,NRI (Nomura Research Institute),2 weeks ago,Be among the first 25 applicants,Entry level,"Marketing and Advertising,Online Media,Internet",Gramedia Digital is Kompas Gramedia Group of R...,Full-time,Information Technology
26,Tjetak,15 hours ago,Be among the first 25 applicants,Associate,Information Technology and Services,Direct message the job poster from Tjetak Hasa...,Full-time,Information Technology
27,Kitabisa.com,3 weeks ago,Be among the first 25 applicants,Entry level,"Marketing and Advertising,Online Media,Internet",Job Description & requirements Kitabisa.com i...,Full-time,"Engineering,Information Technology"
28,Niagahoster - Web Hosting Unlimited Indonesia,1 week ago,27 applicants,Associate,Information Technology and Services,"We are Niagahoster, a tech company based in Yo...",Full-time,"Engineering,Business Development"
29,Sayurbox,2 months ago,39 applicants,Mid-Senior level,"Marketing and Advertising,Internet,Consumer Goods",Sayurbox is a provider of fresh produce to hou...,Full-time,Information Technology
...,...,...,...,...,...,...,...,...
111,Tjetak,1 week ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...",Build the whole data pipelines + warehouses fr...,Full-time,Information Technology
112,Snaphunt,4 weeks ago,Be among the first 25 applicants,Entry level,"Computer Software,Internet,Financial Services",The Offer Drive data-driven decision making wi...,Full-time,Information Technology
113,SehatQ,4 weeks ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...",Create and maintain end-to-end data pipeline f...,Full-time,Information Technology
114,PT Bank Net Indonesia Syariah Tbk,2 weeks ago,Be among the first 25 applicants,Mid-Senior level,"Information Technology and Services,Banking,Fi...",Company Description Becoming a Digital Sharia...,Full-time,Information Technology
115,Machtwatch,2 months ago,Be among the first 25 applicants,Associate,Retail,Job Description Develop data model and maintai...,Full-time,Information Technology
116,PT Kwadran Lima Mitra Kaya Solusi,1 week ago,Be among the first 25 applicants,Associate,Information Technology and Services,Requirement Create Azure Data Factory schedule...,Full-time,Information Technology
117,Pt SehatQ Harsana Emedika,1 month ago,Be among the first 25 applicants,Director,"Health, Wellness and Fitness",REQUIREMENT: Bachelor Degree Majoring in Compu...,Full-time,Engineering
118,Shipper,1 month ago,Be among the first 25 applicants,Mid-Senior level,Internet,Why Join Us? Shipper is on a mission to inven...,Full-time,Other
119,Mekari (PT. Mid Solusi Nusantara),1 month ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...",Mekari is Indonesia's no. 1 Software-as-a-Serv...,Full-time,Information Technology
120,Shipper,3 weeks ago,Be among the first 25 applicants,Associate,Construction,Why Join Us? Shipper is on a mission to inven...,Full-time,Information Technology
121,Shipper,1 month ago,32 applicants,Mid-Senior level,Logistics and Supply Chain,What Is Shipper Shipper is a growing technolo...,Full-time,Other
122,Finaccel,3 weeks ago,Be among the first 25 applicants,Entry level,Warehousing,We are excited to welcome the dynamic robust D...,Full-time,Information Technology
123,Alter Global,3 weeks ago,Be among the first 25 applicants,Entry level,Logistics and Supply Chain,About Shipper Shipper is a logistic aggregato...,Full-time,Information Technology
124,Flip,4 weeks ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...",Responsibilities Work closely with CTO to buil...,Full-time,Information Technology
125,ndigital,4 weeks ago,Be among the first 25 applicants,Associate,"Computer Software,Internet,Financial Services",Company Description N digital is a new ventur...,Full-time,Information Technology
126,Payfazz (PT. Payfazz Teknologi Nusantara),2 months ago,Be among the first 25 applicants,Entry level,"Information Technology and Services,Computer S...","Job Description Design, implement and deploy n...",Full-time,Information Technology
127,Shipper,3 weeks ago,Be among the first 25 applicants,Entry level,Logistics and Supply Chain,What Is Shipper Shipper is a growing technolo...,Full-time,Information Technology
128,Reeracoen Indonesia,6 days ago,Be among the first 25 applicants,Entry level,Hospital & Health Care,"15,000,000 IDR ~ 20,000,000 IDR Jakarta Educat...",Full-time,"Engineering,Information Technology"
129,Mekari (PT. Mid Solusi Nusantara),3 weeks ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...",Job Description & requirements Mekari is Indo...,Full-time,Information Technology
130,Ajaib,2 weeks ago,Be among the first 25 applicants,Associate,"Computer Software,Internet,Financial Services",Job Description & requirements Job Descripti...,Full-time,Information Technology
131,PT Bank Net Indonesia Syariah Tbk,2 weeks ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...",Job Description Design and build highly scalab...,Full-time,Information Technology
132,NTT,4 weeks ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...","In a constantly changing world, we work togeth...",Full-time,Information Technology
133,Snaphunt,4 weeks ago,Be among the first 25 applicants,Associate,"Computer Software,Internet,Financial Services",The Offer Opportunity within an exciting platf...,Full-time,Information Technology
134,NTT Ltd.,4 weeks ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer S...","In a constantly changing world, we work togeth...",Full-time,Information Technology
135,Vidio,2 months ago,Be among the first 25 applicants,Mid-Senior level,"Marketing and Advertising,Online Media,Compute...",Job Requirements Advanced skills on Query Lang...,Full-time,"Business Development,Sales"
136,PT. Electronic Data Interchange Indonesia (Sub...,5 months ago,Be among the first 25 applicants,Director,Computer Software,Must-have requirements: BSc. in Computer Scien...,Full-time,Information Technology
137,Horangi Cyber Security,2 days ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer &...","Building a Safer Cyberspace:At Horangi, we’re ...",Full-time,Other
138,Kecilin,1 month ago,Be among the first 25 applicants,Associate,"Marketing and Advertising,Computer Software,In...",Kecilin didirikan pada tahun 2018 dengan misi ...,Internship,"Information Technology,Engineering"
139,Horangi Cyber Security,2 days ago,Be among the first 25 applicants,Associate,"Information Technology and Services,Computer &...","Building a Safer Cyberspace:At Horangi, we’re ...",Full-time,Other
140,Pt Atreus Global,7 days ago,Be among the first 25 applicants,Associate,Consumer Goods,Translating project-specific needs into a clou...,Full-time,"Sales,Business Development"